<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

                <!-- customer form group -->
                <div formGroupName="customer" class="form-area">
                    <h3>Customer</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>First Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">
                                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="firstName.errors.required || firstName.errors.notOnlyWhiteSpace">
                                        First Name is required
                                    </div>
                                    <div *ngIf="firstName.errors.minlength">
                                        First Name is to short must be at least 2 characters.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Last Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">
                                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="lastName.errors.required || lastName.errors.notOnlyWhiteSpace">
                                        Last Name is required
                                    </div>
                                    <div *ngIf="lastName.errors.minlength">
                                        Last Name is to short must be at least 2 characters.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Email</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text">
                                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="email.errors.required">
                                        Email is required
                                    </div>
                                    <div *ngIf="email.errors.pattern">
                                        Must be a vaild email Address
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- shipping Address -->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('shippingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{ country.name }}
                                    </option>
                                </select>

                                <div *ngIf="shippingAddresCountry.invalid && (shippingAddresCountry.dirty || shippingAddresCountry.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="shippingAddresCountry.errors.required">
                                        Country is required
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">

                                <div *ngIf="shippingAddresStreet.invalid && (shippingAddresStreet.dirty || shippingAddresStreet.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="shippingAddresStreet.errors.required || shippingAddresStreet.errors.notOnlyWhiteSpace">
                                        Street is required
                                    </div>
                                    <div *ngIf="shippingAddresStreet.errors.minlength">
                                        Need minimum of 2 characters
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">

                                <div *ngIf="shippingAddresCity.invalid && (shippingAddresCity.dirty || shippingAddresCity.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="shippingAddresCity.errors.required || shippingAddresCity.errors.notOnlyWhiteSpace">
                                        City is required
                                    </div>
                                    <div *ngIf="shippingAddresCity.errors.minlength">
                                        Need minimum of 2 characters
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>State</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of shippingAddressStates" [ngValue]="state">
                                        {{ state.name }}
                                    </option>
                                </select>

                                <div *ngIf="shippingAddresState.invalid && (shippingAddresState.dirty || shippingAddresState.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="shippingAddresState.errors.required">
                                        State is required
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Zip Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">

                                <div *ngIf="shippingAddresZipCode.invalid && (shippingAddresZipCode.dirty || shippingAddresZipCode.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="shippingAddresZipCode.errors.required || shippingAddresZipCode.errors.notOnlyWhiteSpace">
                                        Zip Code is required
                                    </div>
                                    <div *ngIf="shippingAddresZipCode.errors.minlength">
                                        Need minimum of 2 characters
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <!-- Add check box to copy shipping to billing -->
                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
                        <span class="au-checkmark"></span>Billing Address same as Shipping Address
                    </label>
                </div>


                <!-- Billing Address -->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('billingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{ country.name }}
                                    </option>
                                </select>

                                <div *ngIf="billingAddresCountry.invalid && (billingAddresCountry.dirty || billingAddresCountry.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="billingAddresCountry.errors.required">
                                        Country is required
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">

                                <div *ngIf="billingAddresStreet.invalid && (billingAddresStreet.dirty || billingAddresStreet.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="billingAddresStreet.errors.required || billingAddresStreet.errors.notOnlyWhiteSpace">
                                        Street is required
                                    </div>
                                    <div *ngIf="billingAddresStreet.errors.minlength">
                                        Need minimum of 2 characters
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">

                                <div *ngIf="billingAddresCity.invalid && (billingAddresCity.dirty || billingAddresCity.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="billingAddresCity.errors.required || billingAddresCity.errors.notOnlyWhiteSpace">
                                        City is required
                                    </div>
                                    <div *ngIf="billingAddresCity.errors.minlength">
                                        Need minimum of 2 characters
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>State</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of billingAddressStates" [ngValue]="state">
                                        {{ state.name }}
                                    </option>
                                </select>


                                <div *ngIf="billingAddresState.invalid && (billingAddresState.dirty || billingAddresState.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="billingAddresState.errors.required">
                                        State is required
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Zip Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">

                                <div *ngIf="billingAddresZipCode.invalid && (billingAddresZipCode.dirty || billingAddresZipCode.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="billingAddresZipCode.errors.required || billingAddresZipCode.errors.notOnlyWhiteSpace">
                                        Zip code is required
                                    </div>

                                    <div *ngIf="billingAddresZipCode.errors.minlength">
                                        Need minimum of 2 characters
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <!-- Credit Card -->
                <div formGroupName="creditCard" class="form-area">
                    <h3>Credit Card</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Card Type</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="cardType">
                                    <option>Visa</option>
                                    <option>Mastercard</option>
                                </select>

                                <div *ngIf="creditCardType.invalid && (creditCardType.dirty || creditCardType.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="creditCardType.errors.required">
                                        Card type is required
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Name on Card</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="nameOnCard" type="text">

                                <div *ngIf="creditCardNameOnCard.invalid && (creditCardNameOnCard.dirty || creditCardNameOnCard.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="creditCardNameOnCard.errors.required || creditCardNameOnCard.errors.notOnlyWhiteSpace">
                                        Name is required
                                    </div>

                                    <div *ngIf="creditCardNameOnCard.errors.minlength">
                                        Need minimum of 2 characters
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Card Number</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text">

                                <div *ngIf="creditCardNumber.invalid && (creditCardNumber.dirty || creditCardNumber.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="creditCardNumber.errors.required">
                                        Card Number is required
                                    </div>
                                    <div *ngIf="creditCardNumber.errors.pattern">
                                        Card Number is invalid
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Security Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="securityCode" type="text">

                                <div *ngIf="creditCardSecurityCode.invalid && (creditCardSecurityCode.dirty || creditCardSecurityCode.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="creditCardSecurityCode.errors.required">
                                        Security Code is required
                                    </div>
                                    <div *ngIf="creditCardSecurityCode.errors.pattern">
                                        Security Code is invalid
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Expiration Month</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationMonth">
                                    <option *ngFor="let month of creditCardMonths">
                                        {{ month }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Expiration Year</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                                    <option *ngFor="let year of creditCardYears">
                                        {{ year }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Order details -->
                <div class="form-area">
                    <h3>Review Your Order</h3>

                    <p>Total Quantity: {{ totalQuantity }}</p>
                    <p>Shipping: FREE</p>
                    <p>Total Price: {{ totalPrice | currency: 'USD' }}</p>
                </div>

                <!-- submit button-->
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Purchase</button>
                </div>

            </form>

        </div>
    </div>
</div>